:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-txt-cl: #757575;
  --heading-txt-cl: #212121;
  --dark-txt-cl: #000000;
  --light-txt-cl: #ffffff;
  --accent-txt-cl: #2196f3;
  --active-txt-cl: #188ce8;
  --ft-txt-cl: rgba(255, 255, 255, 0.6);
  --ph-txt-cl: rgba(117, 117, 117, 0.5);
  --phft-txt-cl: rgba(255, 255, 255, 0.6);
  --bg-cl: #ffffff;
  --section-bg-cl: #f5f4fa;
  --accent-bg-cl: #2f303a;
  --card-bg-cl: rgba(33, 150, 243, 0.9);
  --desk-bg-cl: rgba(47, 48, 58, 0.8);
  --grey-bg-cl: rgba(255, 255, 255, 0.1);
  --modal-bg-cl: rgba(0, 0, 0, 0.2);
  --accent-bt-cl: #2196f3;
  --active-bt-cl: #188ce8;
  --light-bt-cl: #ffffff;
  --line-cl: #ececec;
  --accent-border: #2196f3;
  --border-ln-cl: #eeeeee;
  --border-card-cl: #afb1b8;
  --subscr-input: rgba(255, 255, 255, 0.3);
  --modal-btn: rgba(0, 0, 0, 0.1);
  --register-border: 1px solid rgba(33, 33, 33, 0.2);
  --btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --team-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --portfolio-btn: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --gallery-item: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --subscr-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  color: var(--main-txt-cl);
  background-color: var(--bg-cl);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

.container {
  max-width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid var(--line-cl);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--accent-bg-cl);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header_sm-@1x.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header_sm-@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/header_sm-@2x.png);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: url(../images/hero/header_md-@1x.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/header_md-@2x.png);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: url(../images/hero/header_lg-@1x.png);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/header_lg-@2x.png);
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--light-txt-cl);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .section__hidden {
    display: none;
  }
}

.section__title {
  margin-bottom: 30px;
  color: var(--heading-txt-cl);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.section__no-pt {
  padding-top: 0;
}

.section__bg {
  background-color: var(--section-bg-cl);
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .features__item {
    margin-bottom: 30px;
  }
}

.features__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
  height: 120px;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--section-bg-cl);
}
@media screen and (min-width: 1199px) {
  .features__icon-box {
    max-width: 270px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .features-desc {
    max-width: 354px;
  }
}

.features__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--heading-txt-cl);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.1428571429;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.work__thumb {
  position: relative;
}

.work__txt {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--light-txt-cl);
  background-color: var(--desk-bg-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  margin-bottom: 30px;
  background: var(--bg-cl);
  -webkit-box-shadow: var(--team-shadow);
          box-shadow: var(--team-shadow);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 769px) {
  .team__item {
    max-width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .team__item {
    max-width: 354px;
  }
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  margin-bottom: 10px;
  color: var(--heading-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__txt {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--border-card-cl);
  border: 1px solid var(--border-card-cl);
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-bt-cl);
  border: 1px solid var(--accent-bt-cl);
  cursor: pointer;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 0;
  }
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: var(--accent-txt-cl);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__dark {
  color: var(--dark-txt-cl);
}
.logo__light {
  color: var(--light-txt-cl);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin-right: 88px;
  }
}

.footer__logo {
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
}
.menu-btn:hover, .menu-btn:focus {
  color: var(--accent-bt-cl);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
  background-color: var(--bg-cl);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
}
.menu-toggle:hover, .menu-toggle:focus {
  color: var(--accent-bt-cl);
  cursor: pointer;
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu .mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.mobile-menu__link {
  color: var(--heading-txt-cl);
  font-family: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-txt-cl);
  cursor: pointer;
}
.mobile-menu__link--current {
  color: var(--accent-txt-cl);
}

.mobile-contact .mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}

.mobile-contact__mail {
  font-family: inherit;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

.mobile-social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}
.mobile-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: var(--register-border);
}
.mobile-social__item:not(:first-child) {
  padding-left: 10px;
}

.hero__btn {
  display: inline-block;
  padding: 9px 23px;
  margin-left: auto;
  margin-right: auto;
  min-width: 214px;
  color: var(--light-txt-cl);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
  background: var(--accent-bt-cl);
  -webkit-box-shadow: var(--btn-shadow);
          box-shadow: var(--btn-shadow);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--active-bt-cl);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 9px 31px;
  }
}

.register__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  color: var(--light-txt-cl);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
  background: var(--accent-bt-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register__btn:hover, .register__btn:focus {
  background-color: var(--active-bt-cl);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--heading-txt-cl);
}

.nav__item {
  position: relative;
}
.nav__list .nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 0;
  padding-left: 0;
  color: var(--heading-txt-cl);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-txt-cl);
  cursor: pointer;
}
.nav__link--current {
  color: var(--accent-txt-cl);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--current::after {
  content: "";
  position: relative;
  top: 95%;
  right: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-bt-cl);
  border-radius: 2px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.contact .contact__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 0;
  padding-left: 0;
  color: var(--main-txt-cl);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 90px;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-txt-cl);
  cursor: pointer;
}

.contact__icon {
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
}
.contact__icon:hover, .contact__icon:focus {
  fill: var(--accent-txt-cl);
  cursor: pointer;
}

.footer__contact {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    text-align: left;
    margin-right: 70px;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--border-card-cl);
  background-color: var(--light-bt-cl);
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  color: var(--light-bt-cl);
  background-color: var(--accent-bt-cl);
  cursor: pointer;
}

.social__icon {
  fill: currentColor;
}

.socials__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .socials__footer {
    margin-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .socials__footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.socials__title {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}

.socials__list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.social__link--light {
  color: var(--light-bt-cl);
  background-color: var(--grey-bg-cl);
  border-radius: 50%;
}

.portfolio__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .portfolio__filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .portfolio__item {
    margin-bottom: 15px;
  }
}

.portfolio__btn {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  color: var(--heading-txt-cl);
  background: var(--section-bg-cl);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: var(--light-txt-cl);
  background: var(--accent-bt-cl);
  -webkit-box-shadow: var(--portfolio-btn);
          box-shadow: var(--portfolio-btn);
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
}

.gallery__item {
  display: block;
  height: 404px;
  background: var(--bg-cl);
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}

.gallery__link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__item a:hover .gallery__product, .gallery__item a:focus .gallery__product {
  -webkit-box-shadow: var(--gallery-item);
          box-shadow: var(--gallery-item);
}

.gallery__card {
  position: relative;
  overflow: hidden;
}

.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;
  color: var(--bg-cl);
  background-color: var(--card-bg-cl);
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.gallery__link:hover .gallery__overlay, .gallery__link:focus .gallery__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.gallery__card-desc {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--border-ln-cl);
  border-bottom: 1px solid var(--border-ln-cl);
  border-left: 1px solid var(--border-ln-cl);
}

.gallery__title {
  margin-bottom: 4px;
  color: var(--heading-txt-cl);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery__spec {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.address {
  margin-bottom: 60px;
  color: var(--ft-txt-cl);
  font-style: normal;
  line-height: 1.7142857143;
}
@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 0;
  }
}
.address .link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link:hover, .address .link:focus {
  color: var(--accent-txt-cl);
  cursor: pointer;
}
.address .address__item + .address__item {
  margin-top: 9px;
}

.map {
  color: var(--light-txt-cl);
}

.subscription {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1199px) {
  .subscription {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscription__title {
  margin-bottom: 20px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: center;
      align-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
@media screen and (max-width: 1199px) {
  .subscription__form {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__form {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 12px;
    margin-top: 0;
  }
}

.subscription__input {
  height: 50px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: var(--light-txt-cl);
  background: var(--accent-bg-cl);
  border: 1px solid var(--subscr-input);
  -webkit-filter: drop-shadow(var(--subscr-shadow));
          filter: drop-shadow(var(--subscr-shadow));
  border-radius: 4px;
  outline: none;
}
@media screen and (min-width: 480px) {
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
  }
}

.subscription__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 28px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  color: var(--light-txt-cl);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
  background: var(--accent-bt-cl);
  -webkit-box-shadow: var(--btn-shadow);
          box-shadow: var(--btn-shadow);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__btn:hover, .subscription__btn:focus {
  background-color: var(--active-bt-cl);
  cursor: pointer;
}

.subscription__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  padding: 0;
  fill: var(--light-bt-cl);
}

input[name=mail]::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--phft-txt-cl);
}

input[name=mail]::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--phft-txt-cl);
}

input[name=mail]:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--phft-txt-cl);
}

input[name=mail]::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--phft-txt-cl);
}

input[name=mail]::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--phft-txt-cl);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-cl);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  max-width: 450px;
  background-color: var(--bg-cl);
  -webkit-box-shadow: var(--modal-shadow);
          box-shadow: var(--modal-shadow);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bg-cl);
  border: 1px solid var(--modal-btn);
  border-radius: 50%;
  cursor: pointer;
}
.modal__btn:hover, .modal__btn:focus {
  color: var(--accent-bt-cl);
  cursor: pointer;
}

.modal__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  fill: currentColor;
  background: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-txt-cl);
}

.register__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.register__item:not(:last-child) {
  margin-bottom: 10px;
}

.register__group {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.register__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.register__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.register__input {
  width: 370px;
  height: 40px;
  left: 576px;
  top: 314px;
  padding-top: 12px;
  padding-right: 42px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: var(--register-border);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .register__input {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .register__input {
    width: 448px;
  }
}
.register__input:hover, .register__input:focus {
  border: 1px solid var(--accent-border);
}

textarea {
  resize: vertical;
}
textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--ph-txt-cl);
}
textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--ph-txt-cl);
}
textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--ph-txt-cl);
}
textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--ph-txt-cl);
}
textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--ph-txt-cl);
}

.register__message {
  display: block;
  width: 370px;
  height: 120px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  resize: none;
  border: var(--register-border);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .register__message {
    max-width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .register__message {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .register__message {
    width: 448px;
  }
}
.register__message:hover, .register__message:focus {
  border: 1px solid var(--accent-border);
}

.register__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  fill: var(--heading-txt-cl);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register__input:hover + .register__icon, .register__input:focus + .register__icon {
  fill: var(--accent-border);
}

.register-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.register-checkbox__icons {
  margin-right: 7px;
  border-radius: 2px;
}

.register-checkbox__check {
  opacity: 0;
  fill: var(--accent-bt-cl);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register-checkbox__input:checked + .register-checkbox__icons .register-checkbox__check {
  opacity: 1;
}

.register-checkbox__empty {
  opacity: 1;
  fill: var(--heading-txt-cl);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register-checkbox__input:checked + .register-checkbox__icons .register-checkbox__empty {
  opacity: 0;
}

.register-checkbox__label {
  display: block;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 1200px) {
  .register-checkbox__label {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.register-checkbox__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-txt-cl);
}/*# sourceMappingURL=main.css.map */