.hero__btn {
  display: inline-block;
  padding: 9px 23px;
  margin-left: auto;
  margin-right: auto;
  min-width: 214px;

  color: var(--light-txt-cl);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  border: 1px solid transparent;
  background: var(--accent-bt-cl);
  box-shadow: var(--btn-shadow);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--active-bt-cl);
    cursor: pointer;
  }

  @media screen and (min-width: 1200px) {
    padding: 9px 31px;
  }
}

.register__btn {
  display: flex;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;

  color: var(--light-txt-cl);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  border: 1px solid transparent;
  background: var(--accent-bt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--active-bt-cl);
    cursor: pointer;
  }
}
