.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-cl);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;

  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;

  max-width: 450px;
  // height: 581px;

  background-color: var(--bg-cl);
  box-shadow: var(--modal-shadow);
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    max-width: calc(100% - 30px);
    height: 609px;
  }
  @media screen and (max-width: 1199px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 528px;
    height: 581px;
  }

}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-cl);
  border: 1px solid var(--modal-btn);
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--accent-bt-cl);
    cursor: pointer;
  }
}

.modal__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  fill: currentColor;
  background: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
