.nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  color: var(--heading-txt-cl);
}

.nav__item {
  position: relative;

  .nav__list &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 0;
  padding-left: 0;

  color: var(--heading-txt-cl);
  font-family: inherit;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
    cursor: pointer;
  }

  &--current {
    color: var(--accent-txt-cl);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
      content: '';
      position: relative;
      top: 95%;
      right: 0;

      display: block;
      width: 100%;
      height: 4px;
      background: var(--accent-bt-cl);
      border-radius: 2px;
    }
  }
}
