.register__title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--heading-txt-cl);
}

.register__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.register__group {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.register__field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.register__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.register__input {
  width: 370px;
  height: 40px;
  left: 576px;
  top: 314px;

  padding-top: 12px;
  padding-right: 42px;
  padding-bottom: 12px;
  padding-left: 42px;

  border: var(--register-border);
  border-radius: 4px;
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 370px;
  }

  @media screen and (min-width: 1200px) {
    width: 448px;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--accent-border);
  }
}

textarea {
  resize: vertical;

  &::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: var(--ph-txt-cl);
  }
}

.register__message {
  display: block;
  width: 370px;
  height: 120px;

  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;

  resize: none;
  border: var(--register-border);
  border-radius: 4px;
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 480px) {
    max-width: 370px;
  }

  @media screen and (min-width: 768px) {
    width: 370px;
  }

  @media screen and (min-width: 1200px) {
    width: 448px;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--accent-border);
  }
}

.register__icon {
  position: absolute;
  top: 29px;
  left: 12px;

  fill: var(--heading-txt-cl);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .register__input:hover + &,
  .register__input:focus + & {
    fill: var(--accent-border);
  }
}

.register-checkbox {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}

.register-checkbox__icons {
  margin-right: 7px;
  border-radius: 2px;
}

.register-checkbox__check {
  opacity: 0;
  fill: var(--accent-bt-cl);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .register-checkbox__input:checked + .register-checkbox__icons & {
    opacity: 1;
  }
}

.register-checkbox__empty {
  opacity: 1;

  fill: var(--heading-txt-cl);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .register-checkbox__input:checked + .register-checkbox__icons & {
    opacity: 0;
  }
}

.register-checkbox__label {
  display: block;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;

  color: var(--main-txt-cl);
  user-select: none;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.register-checkbox__link {
  text-decoration-line: underline;
  color: var(--accent-txt-cl);
}
