.features {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.features__item {
  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }
}

.features__icon-box {
  display: flex;
  max-width: 450px;
  height: 120px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;

  background-color: var(--section-bg-cl);

  @media screen and (min-width: 1199px) {
    max-width: 270px;
  }
}

.features-desc {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    max-width: 354px;
  }
}

.features__title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--heading-txt-cl);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
