.header {
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 100;

  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  z-index: 100;

  width: 100%;

  border-bottom: 1px solid var(--line-cl);
}

.header__container {
  display: flex;
  align-items: center;
  height: 60px;

  @media screen and (min-width: 768px) {
    min-height: 80px;
  }
}
